<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<body>
    <h1>Article List</h1>
    <div class="articles">
        {% for article in articles %} <!--This allows us to write Python code where no data is outputted-->
            <div class="article">
                <h2><a href="#">{{ article.title }}</a></h2> <!--This allows us to write Python code where there is an output-->
                <p>{{ article.snippet }}</p>
                <p>{{ article.date }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>